<p id="notice"><%= notice %></p>

<h1>Feeds</h1>

<table>
  <thead>
    <tr>
      <th>Source</th>
      <th>Api key</th>
      <th>Api secret</th>
      <th>Verified</th>
      <th>Verified Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @feeds.each do |feed| %>
      <tr>
        <td><%= feed.source %></td>
        <td>****<%= feed.api_key.last(4) %></td>
        <td>****<%= feed.api_secret.last(4) %></td>

        <% if feed.verified === "f" %>
         <td><%= "Not verified" %></td>
        <% else %>
         <td><%= "Verified" %></td>
        <% end %>
  
        <td><%= feed.verified_date %></td>
        <td><%= link_to 'Verify', feed %></td>
        <td><%= link_to 'Edit', edit_feed_path(feed) %></td>
        <td><%= link_to 'Destroy', feed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Feed', new_feed_path %>
