<p id="notice"><%= notice %></p>

<p>
  <strong>Source:</strong>
  <%= @feed.source %>
</p>

<p>
  <strong>Api key:</strong>
  ****<%= @feed.api_key.last(4) %>
</p>

<p>
  <strong>Api secret:</strong>
  ****<%= @feed.api_secret.last(4) %>
</p>

<p>
  <strong>Verified:</strong>
  <% if @feed.verified === "f" %>
   <%= "Not verified" %>
  <% else %>
   <%= "Verified" %>
  <% end %>
</p>

<div class="feed response">
  This is where the response from my feed will go:<br><br>
  <%= verify(@feed.api_secret) %>
</div>

<p></p>

<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
