<!DOCTYPE html>
<html>
  <head>
    <title>ControlCenter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
    <header><%= render 'shared/header' %></header>

    <%= yield %>

    <footer><%= render 'shared/footer' %></footer>
    
  </body>

  <div class="debug">
    <%= debug(params) if Rails.env.development? %>
    <% if logged_in? %>
      <p>Lol, you're logged in :3</p>
    <% end %>
  </div>
</html>
